/* comment */
.wrap {
  grid-template-rows: 100px 1fr 30px;
}

header {
  display: inline-block;
  justify-content: space-between;
  float: left;
}

main {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

footer {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
