/* layout ******************************************************************/
body {
  margin-top: 0px;
}

.top-bar {
  position: fixed;
  background-color: #ffffff;
  left: 0;
  width: 100%;
}

header {
  display: inline-block;
  justify-content: space-between;
  float: left;
}

nav {
  display: inline-block;
  float: right;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 30px;
}

nav li {
  display: inline-block;
}

nav ul {
  display: inline-block;
  margin-left: 0px;
  padding-left: 0px;
}

main {
  padding: 20px;
  margin: 15px;
}

footer {
  grid-column: 2 / 3;
}



/* styles ******************************************************************/
h1, h2, h3 {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

ul, a, div, p {
  font-family: 'EB Garamond', serif;
}

body {
  background-color: #8e8e90;
  margin-top: 0px;
}

.top-bar {
  background-color: #ffffff;
}

h1 {
  color: #c07164;
  padding-left: 30px;
}

nav li a {
  border: .5px solid #8e8e90;
  padding: 2px;
  color: #8e8e90;
}

nav div {
  font-weight: bold;
  color: #8e8e90;
}

nav a {
  text-decoration: none;
}

main {
  background-color: #49494b;
}

main a {
  color:  #ffffff;
}

ul {
  list-style: none;
}


/* state  ******************************************************************/
nav a.is-current {
  background-color: #49494b;
}

a:hover {
  background-color: #c07164;
  color: #ffffff;
}


/* @media  ******************************************************************/
@media (max-width: 900px) {
  body {
    background-color: #ffffff;
}

  .wrap {
		display: inline;
		text-align: center;
}
  .top-bar {
    position: absolute;
    display: block;
    width: auto;
  }

  nav {
    display: block;
    width: auto;
  }

}
