/* comment */

.hero {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

aside {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  margin: 15px;
  margin-left: 0;
  padding: 20px;
}

aside {
  background-color: #d1bfa7;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.sidebar h2 {
  grid-row: 2 / 3 ;
}

.sidebar a {
  grid-row: 2 / 3;
}
