/* layout ******************************************************************/
.wrap {
  grid-template-rows: 100px 1fr 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

nav div {
  padding-left: 3px;
}

main {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

h2 {
  padding-top: 100px;
}

footer {
  grid-row: 4 / 5;
}

/* styles ******************************************************************/
main {
  color: #ffffff;
}
