/* layout ******************************************************************/
body {
  display: grid;
  margin: auto;
  width: 97%;
  background-color: #8e8e90;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 70px 350px 160px;
}

.hero {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-top: 30px;
  display: block;
  margin: auto;
}

main {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

#weak {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
  background-color: #ffffff;
}

#terminal {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #c07164;
  text-align: center;
}



/* styles ******************************************************************/
main {
    color: #ffffff;
    text-align: center;
}

#weak {
  padding: 10px;
}

#weak div {
}

#terminal div {
  color: #49494b;
  font-size: 24px;
  padding: 7px;
}

#terminal a {
  color: black;
  border: .5px solid black;
  padding: 2px;
  text-decoration: none;
}

#terminal a:hover {
  color: #ffffff;
  background-color: #49494b;
}

/* figure out what isnt being called and delete or move from main styles to just the student styles*/
